.equip-filter{
  &__toggle{
    transition: $transition-time;
    &:hover{
      color: $cl-purple;
    }
    &-icon{
      transform: rotate(90deg);
    }
    &[aria-expanded="false"]{
      .equip-filter__toggle-icon{
        transform: rotate(0deg);
      }
    }
  }
}